// Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';



.deleteButton{

    outline: none ;
    background: none;
    border: none;
}


.deleteSvg{
    fill: grey;
}

.deleteButton:hover .deleteSvg {

    cursor: pointer;
    fill: red;
}

